.alert-message {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  color: var(--attention);
  background-color: var(--feedback-error-main);
  border: 1px solid var(--feedback-error-dark);
}

.success {
  color: var(--primary-dark);
  background-color: var(--feedback-success-main);
  border: 1px solid var(--feedback-success-dark);
}


